@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Google Sans", "Product Sans", sans-serif;
}

:root {
  --background: #f8f9fa; /* Off-white */
  --foreground: #131314; /* Google dark off-black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131314; /* Google dark */
    --foreground: #e8eaed; /* Google off-white text */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
